[submodule "lib/Gymnasium"]
	path = lib/Gymnasium
	url = https://github.com/luluu9/Gymnasium.git
	branch = wheelchair_env
[submodule "Gymnasium"]
	path = Gymnasium
	url = https://github.com/luluu9/Gymnasium.git
	branch = wheelchair_env
